header {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: space-between;
  }
  
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .nav-buttons {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
  }
  