.maintNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  width: 100%;
  height: auto;
  z-index: 0;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  gap: 10px; /* Add gap between boxes */
}

.maintNav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  margin: 5px;
  width: 150px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for buttons */
  transition: background-color 0.3s ease;
}

.maintNav-buttons:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Lighten background on hover */
}

.maintNav-buttons h1 {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
