/* General Styles */
body {
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
  color: #333;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.home-page {
  position: relative;
  width: 100%;
  min-height: 100vh; /* Full screen height */

}

.slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.slideshow-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  min-height: 100vh; /* Full screen height */
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

.home-page-background {
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.home-page-background .highlight {
  color: red;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.todo-container {
  flex: 1;
  min-width: 300px;
}

.buttons-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 20px; /* Add space between columns */
}

.maintNav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(165, 42, 42);
  text-decoration: none;
  border: none;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background for buttons */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.maintNav-buttons:hover {
  transform: translateY(-5px); /* Lift button on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Enhance shadow on hover */
}

.maintNav-buttons h1 {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .home-page-background {
    font-size: 2em;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .todo-container,
  .buttons-container,
  .work-order-form-container {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .home-page-background {
    font-size: 1.5em;
  }

  .add-todo input {
    padding: 8px;
  }

  .add-todo button {
    padding: 8px 16px;
  }

  .buttons-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .maintNav-buttons {
    width: 100px;
    height: 75px;
  }
}
