/* General styles for the services page */
.service-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 0;
    list-style-type: none;
  }
  
  .service-item {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .add-service {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  
  .date-completed, .completed-by, .test-values {
    font-weight: bold;
  }
  
  p {
    word-wrap: break-word;
  }
  
  /* Responsive styles for the services page */
  @media (max-width: 768px) {
    .service-item {
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    .service-item {
      padding: 6px;
    }
  }
  