/* General styles for the Tower Services page */
.tower-services-container {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-list {
  display: flex; /* Use flexbox for row layout */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center;
  gap: 20px; /* Use gap for spacing between items */
  padding: 0;
  list-style-type: none;
  margin-top: 20px; /* Add space above the service list */
}

.service-item {
  border: 1px solid #ddd;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; /* Make sure the delete icon is positioned correctly */
  flex: 1 1 300px; /* Flex-grow, flex-shrink, and flex-basis */
  max-width: 300px; /* Limit the max width of each item */
}

.service-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.toggle-form-button, .back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 20px auto;
  font-size: 16px;
}

.toggle-form-button:hover, .back-button:hover {
  background-color: #0056b3;
}

.date-completed, .completed-by {
  font-weight: bold;
  color: #333;
}

p {
  word-wrap: break-word;
  margin: 5px 0;
}

h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: #555;
}

select {
  padding: 5px 10px;
  margin: 0 10px 20px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:focus {
  outline: none;
}

.delete-confirmation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.delete-confirmation p {
  margin-bottom: 10px;
}

.delete-confirmation input {
  margin-bottom: 10px;
  padding: 5px;
  width: calc(100% - 10px);
}

.delete-confirmation button {
  margin-right: 10px;
  padding: 5px 10px;
}

/* Responsive styles for the services page */
@media (max-width: 768px) {
  .service-item {
    padding: 10px;
  }

  select {
    margin-bottom: 10px;
  }

  .toggle-form-button {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .service-item {
    padding: 8px;
  }
}
