.work-order-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
  }
  
  .work-order-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
  }
  
  .add-button,
  .submit-button,
  .close-button {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .add-button {
    background-color: #4caf50;
    color: white;
    margin-top: -5px;
  }
  
  .add-button:hover {
    background-color: #45a049;
    transform: translateY(-2px); /* Lift button on hover */
  }
  
  .submit-button {
    background-color: #007bff;
    color: white;
    margin-right: 10px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Lift button on hover */
  }
  
  .close-button {
    background-color: #dc3545;
    color: white;
  }
  
  .close-button:hover {
    background-color: #c82333;
    transform: translateY(-2px); /* Lift button on hover */
  }
  
  .work-order-button-group {
    display: flex;
    justify-content: space-between;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .work-order-form-container {
      padding: 10px;
    }
  
    .form-group {
      margin-bottom: 5px;
    }
  
    .input {
      padding: 6px;
    }
  
    .add-button,
    .submit-button,
    .close-button {
      padding: 6px;
      font-size: 0.8em;
    }
  }
  